.td-time {
  .time-button {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    border-radius: 0;
    background-color: #ffffff;
    font-size: 35px;
    height: 80px;
    border-bottom: 1px solid #bcbbc1;
    align-items: center;
    padding: 15px;
    .time {
      color: #555555;
      font-family: FontRegular;
      font-size: 20px;
      line-height: 27px;
      font-weight: 600;
      text-align: center;
      margin-top: -42px;
    }
    .name {
      color: #8e8e93;
      letter-spacing: 2px;
      font-family: FontRegular;
      font-size: 17px;
      font-weight: 600;
      line-height: 21px;
      span:before {
        content: "\2022";
      }
    }
    .coach {
      color: #555555;
      font-weight: 600;
      letter-spacing: 2px;
      font-family: FontRegular;
      font-size: 20px;
      text-transform: uppercase;
      line-height: 22px;
    }
    .number {
      color: #555555;
      font-family: FontRegular;
      font-size: 27px;
      line-height: 27px;
      letter-spacing: 5px;
      font-weight: 600;
      margin-top: 0px;
      text-align: right;
      .fa {
        opacity: 0.6;
        margin-left: 5px;
      }
    }
    &:hover {
      background-color: #7e7e7e;
      .time {
        color: #ffffff;
      }
      .name {
        color: #ffffff;
      }
      .coach {
        color: #ffffff;
      }
      .number {
        color: #ffffff;
        .fa {
          opacity: 0.6;
        }
      }
    }
    &.disabled {
      background-color: #d2d2d2;
      color: #a3a3a3;
      border: 0.8 solid #d4d4d4;
      .name {
        color: #a3a3a3;
      }
      &:hover {
        background-color: #d2d2d2;
        box-shadow: 0 0 0 2px #f48120 inset;
        height: 100px;
        color: #a3a3a3;
        border: 0.8 solid #d4d4d4;
        .name {
          color: #a3a3a3;
        }
      }
    }
  }
  & .active {
    background-color: #7e7e7e;
    .time {
      color: #ffffff;
      font-family: FontRegular;
      font-size: 20px;
      line-height: 27px;
      font-weight: 600;
      text-align: center;
      margin-top: -42px;
    }
    .name {
      color: #ffffff;
      letter-spacing: 2px;
      font-family: FontRegular;
      font-size: 17px;
      font-weight: 600;
      line-height: 21px;
    }
    .coach {
      color: #ffffff;
      font-weight: 600;
      letter-spacing: 2px;
      font-family: FontRegular;
      font-size: 20px;
      text-transform: uppercase;
      line-height: 22px;
    }
    .number {
      color: #ffffff;
      font-family: FontRegular;
      font-size: 27px;
      line-height: 27px;
      font-weight: 600;
      text-align: right;
      .fa {
        color: #ffffff;
      }
    }
  }
}

@media (max-width: 1200px) {
  .time-button {
    font-size: 25px;
    .name {
      font-size: 20px;
    }
  }
}
