.ci-form {
  .ci-wizard {
    grid-column: 2 / 3;
    text-align: center;
    margin-top: 60px;
  }

  .form-control {
    text-align: left;
  }
  input[type='checkbox'] {
    opacity: 0;
    position: absolute;
  }
  input[type='checkbox'],
  .checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }
  .checkbox-custom-label {
    position: relative;
  }
  input[type='checkbox'] + .checkbox-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #a3a3a3;
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    margin-right: 10px;
    text-align: center;
    /*eslint-disable leading-zero*/
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .5), 0 0 5px 0 rgba(0, 0, 0, .5);
  }
  input[type='checkbox']:checked + .checkbox-custom-label:before {
    content: '\f00c';
    font-family: 'FontAwesome';
    color: #f57c18;
  }
  input[type='checkbox']:focus + .checkbox-custom-label {
    outline: 1px solid #ddd; /* focus style */
  }
}

@media (min-width: 710px) and (max-width: 720px) {
  .ci-form{
    height: 2100px;
  }
}
@media (min-width: 1100px) and (max-width: 1200px) {
  .ci-form{
    height: 1900px;
  }
}