@import 'react-responsive-carousel/lib/styles/carousel.min.css';

.product-page {
  width: 100%;
  .left-container {
    height: 708px;
    width: 33%;
    .left-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  .right-container {
    padding: 0;
    height: 708px;
    width: 67%;
    .slider-wrapper {
      padding: 50px;

      .slider {
        .slide {
          background: none;

          img {
            width: 600px;
          }
        }
      }
    }

    .control-dots {
      width: auto;
      height: 20px;
      position: absolute;
      top: 50px;
      right: 50px;
      text-align: right;
      .dot {
        width: 20px;
        height: 20px;
        background: gray;

        &.selected {
          background: #f58220;
        }
      }
    }
  }

  .carousel {
    height: 100%;
  }

  .instruction {
    padding: 0 10%;
    text-align: left;

    .header-ins {
      display: flex;

      .instruction-ic {
        width: 70px !important;
      }

      .title {
        color: #5e5b67;
        font-size: 55px;
        font-style: italic;
        letter-spacing: .74px;
        line-height: 142px;
        text-transform: uppercase;
        font-weight: bold;
        padding-left: 30px;
      }
    }

    .content-ins {
      color: #5e5b67;
      font-size: 30px;
      font-style: italic;
      letter-spacing: .67px;
      line-height: 60px;
    }
  }
}
@media (min-width: 1300px) {
  .product-page {
    .left-container{
      height: unset;
      .left-wrapper{
        height: 91.5%;
        .devide-info{
          padding-top: 40;
          .title{
            font-size: 45px;
          }
        }
      }
    }
    .right-container{
      height: 91.5%;
    }
  }
}
@media (min-height: 700px) and (max-height: 750px) {
  .product-page {
    .left-container{
      height: 620px;
      .devide-info{
        padding-top: 10px;
        .title{
          font-size: 40px;
        }
        .introduce{
          color: #9b9b9b;
          font-size: 17px;
          margin-bottom: 10px;
        }
        .price-wrapper{
          margin-top: 1%;
        }
      }
    }
    .right-container{
      height: 87%;
      .instruction-ic{
        width: 60px !important
      }
      .title{
        font-size: 50px;
      }
      .content-ins{
        font-size: 26px;
        line-height: 50px;
      }
    }
  }
}