.policy-section {
  .red-txt {
    color: red;
  }
  canvas {
    width: 100%;
    height: 100%;
  }
  .label-page {
    color: #dadada;
    font-family: FontBold;
    font-size: 60px;
    text-transform: uppercase;
    padding-top: 0;
  }

  .underline {
    text-decoration : underline;
  }

  .policy-wrapper {
    margin-bottom: 15px;

    .policy-content {
      background: white;
      border: 1px solid;
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5), 0 0 5px 0 rgba(0, 0, 0, 0.5);
      font-size: 18px;
      text-align: left;
      padding: 20px;
      grid-column: 2 / 3;
      display: grid;
      grid-gap: 15px;
      .item {
        display: flex;
        justify-content: center;
        padding: 5px;
        font-family: FontRegular;
        .control {
          display: flex;
        }
        .checkbox-custom-label {
          color: #8f9192;
          font-size: 20px;
        }
        .btn-collapse {
          list-style: none;
          color: #0894da;
          margin-left: 10px;
          text-decoration: underline;
          cursor: pointer;
          .red-star {
            color: red;
          }
        }
      }
      .collapse {
        translate: 0.5;
      }
      .title-text {
        h1 {
          font-size: 20px;
          font-weight: 600;
          text-decoration: underline;
        }
      }
      .policy{
        text-align: justify;
          .title1 {
            color: red;
          }
        }
      .policy {
        text-align: justify;
          p {
            margin: 2px 0 0 0;
          }
        }
      .initials {
        display: grid;
        grid-template-columns: 100px 100px;

        label {
          align-self: center;
        }
      }

      .signature {
        display: grid;
        grid-gap: 20px;

        .sig-item {
          display: grid;
          grid-template-columns: 60px 1fr 20px 180px;
          grid-gap: 20px;

          &.parent-sig {
            grid-template-columns: 60px 1fr 20px 180px;
          }

          label {
            align-self: center;

            .notes {
              font-weight: 300;
              font-size: 14px;
            }
          }

          .date-time-picker {
            height: auto;
            align-self: center;

            .bootstrap-datetimepicker-widget {
              top: 50 !important;
              left: auto !important;
              right: 0px !important;
            }
          }

          .input-group {
            .form-control {
              height: 45px;
            }

            .input-group-addon {
              font-size: 25px;
              padding: 0;
              width: 50px;
            }
          }

          .form-control {
            height: 130px;
            &.sig {
              border: none;
              border-bottom: 1px solid black;
              box-shadow: none;
              text-align: left;
              height: 200px;
            }
            &.text {
              height: 34px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1500px) {
  .policy-section {
    .label-page {
      font-size: 80px;
    }

    .signature {
      .sig-item {
        &.parent-sig {
          grid-template-columns: 60px 1fr 20px 180px;
        }
      }
    }
  }
}
