.calendar-checkin {
  background: #ffffff;
  .weekly-checkin {
    background: #ffffff;
    color: #555555;
    border-bottom: 1px solid #bcbbc1;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 65px;
    align-items: center;
    text-align: center;
    .col-start {
      padding: 10px;
      cursor: pointer;
      .glyphicon {
        font-size: 25px;
        color: linear-gradient(148.29deg, #ff5d00 0%, #e33622 100%);
      }
    }
    .col-end {
      padding: 10px;
      cursor: pointer;
      .glyphicon {
        font-size: 25px;
        color: linear-gradient(148.29deg, #ff5d00 0%, #e33622 100%);
      }
    }
    .col-center {
      display: grid;
      grid-template-columns: repeat(5, auto);
      .day {
        display: flex;
        height: 45px;
        width: 45px;
        margin-top: 32px;
        border-radius: 50%;
        margin: 5px;
        cursor: pointer;
        .number {
          font-size: 25px;
          margin: auto;
          justify-content: center;
          align-items: center;
        }
        &.rbc-today {
          background-color: #ddd;
        }
        &.opacity-date {
          color: #75777e;
        }
        &.disable-date {
          opacity: 0.7;
        }
        &.active {
          color: #fff;
          height: 45px;
          width: 45px;
          .number {
            display: flex;
            width: 40px;
            border-radius: 50%;
            margin: 5px;
            background: linear-gradient(180deg, #368ad0 0%, #3e7fb5 100%);
          }
        }
      }
    }
  }
}

@media (min-width: 1300px) {
  .day:hover {
    background: linear-gradient(180deg, #368ad0 0%, #3e7fb5 100%);
    margin-top: 32px;
    border-radius: 50%;
    color: #ffffff;
    margin: 5px;
    cursor: pointer;
  }
}
