.wrapper-right {
  .header-member {
    display: grid;
    grid-template-columns: 1fr 2.5fr .5fr;
    align-items: center;
    text-align: center;
    height: 87px;
    background: #ffffff;
    color: #555555;
    .bulk-checkin {
      display: flex;
      justify-content: center;
      .box {
        width: 130px;
        position: relative;
        height: 45px;
        margin: 10px;
        border-radius: 10%;
        list-style-type: none;
        -webkit-appearance: none;
        cursor: pointer;
        label {
          position: relative;
          top: -6px;
          left: -2px;
          font-size: 20px;
          text-align: center;
          font-style: italic;
          text-transform: uppercase;
          padding: 4px;
          color: #6f767b;
          cursor: pointer;
        }
        input[type="checkbox"]:checked ~ label {
          width: 136px;
          border-radius: 25px;
          background-color: #f58220;
          color: #ffffff;
        }
      }
    }
    .middle-member {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .box {
      position: relative;
      height: 45px;
      margin: 10px;
      border-radius: 10%;
      list-style-type: none;
      -webkit-appearance: none;
      cursor: pointer;
      label {
        position: relative;
        top: -6px;
        left: -2px;
        font-size: 20px;
        text-align: center;
        font-style: italic;
        text-transform: uppercase;
        padding: 4px;
        color: #6f767b;
        cursor: pointer;
      }
    }
    input[type="checkbox"] {
      position: relative;
      top: -16px;
      left: -2px;
      border-radius: 15px;
      -webkit-appearance: none;
      display: block;
      cursor: pointer;
    }
    input[type="checkbox"]:checked ~ label {
      width: 125px;
      border-radius: 25px;
      background-color: #f58220;
      color: #ffffff;
    }
    .plus-ic:before {
      content: '\F067';
      font-family: FontAwesome;
      color: #9a9a9b;
      font-size: 48px;
      text-align: center;
    }
  }
}
