.home-btn{
  text-align: center;
  .home-ic{
    width: 120px;
    margin-bottom: 40px;
  }
  .check-ic{
    width: 160px;
    margin-bottom: 61px;
  }
  .orange-btn{
    height: 75px;
    width: 300px;
    border-radius: 2px;
    background-color: #f58220;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
    color: #fff;
    line-height: 2.3;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    margin: 0 auto;
  }

  .client-take-ic {
    width: 155px;
    height: 181px;
  }
  &.product{
    grid-area: 2/2/2/2;
  }
  &.ci{
    grid-area: 2/2/2/3;
    display: none;
    &.enabled{
      grid-area: 2/4/2/4;
      display: unset;
    }
  }
  &.check-in{
    grid-area: 2/3/2/4;
  }
}
@media (max-width: 800px) {
  .home-btn .orange-btn{
    width: 200px;
    line-height: 3;
    font-size: 26px;
  }
}