.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 92px;
 	background: linear-gradient(148.29deg, #FF5D00 0%, #E33622 100%);
  position: fixed;
  z-index: 999;
  box-shadow: 0 5px 10px -5px #333;
  .left {
    .logo-challenge {
      display: inline-flex;
      align-items: center;
      height: 100%;
      img {
        width: 70px;
        float: left;
      }
      .title {
        font-weight: bold;
        font-size: 27px;
        font-family: FontRegularItalic;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #fff;
        float: left;
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    .seperator-line {
      margin: 0 13px 0 13px;
      height: 62px;
      border-left: 1px solid #636262;
      opacity: .4;
    }
    .current-studio {
      font-size: 20px;
      letter-spacing: .4px;
      color: #979797;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
      img {
        margin-left: 20px;
        width: 15px;
      }

      .studio-name{
        color: white;
        font-size: 24px;
      }

      .studio-number {
        color: white;
        margin-left: 20px;
        font-size: 24px;
      }
    }
  }

  .studio-menu {
    margin-right: 35px;
    li .menu-item {
      height: 55px;
      padding-top: 10px;
      cursor: pointer;
    }
    .settings a.menu-item {
      background: url('modules/shared/images/icon/settings.svg') no-repeat left;
      background-size: 15px;
      padding-top: 15px;
      margin-left: 16px;
    }
    .log-out {
      background: url('modules/shared/images/icon/log-out.svg') no-repeat left;
      background-size: 15px;
      padding-top: 15px;
      margin-left: 18px;
    }
    a.is-collapse {
      position: relative;
      i {
        right: 15px;
        position: absolute;
        font-size: 17px;
      }
    }
  }

  .icon-screen {
    width: 30px;
    margin-right: 35px;
    margin-left: 30px;
  }
}

.navigation-bar {
  width: 36px;
  height: 14px;
  font-size: 19px;
  line-height: 1.26;
  letter-spacing: .4px;
  color: #fffefe;
  padding: 7px 1213 9px 31px;
}

.dialog-change-password {
  width: 600px !important;
  top: 110px;
}

@media (min-width: 700px) and (max-width: 800px) {
  .header{
    .left {
      .back-button{
        width: 50px;
      }
      .home-button{
        width: 50px;
      }
      .logo-challenge {
        img {
          width: 56px;
          float: left;
        }
        .title {
          font-size: 18px;
        }
      }
    }
    .right{
      .seperator-line{
        margin: 0 10px;
      }
      .studio-menu{
        margin-right: 2px;
        .icon-screen{
          margin-right: 15px;
          margin-left: 15px;
        }
        .current-studio{
          font-size: 15px;
        }
        .dropdown{
          margin-right: 8px;
        }
      }
    }
  }
}
