.home-wrapper{
  width: 100%;
  height: 80%;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 2fr 3fr 2fr;
  display: grid;
  justify-content: center;
  grid-gap: 30px;
  .home-button-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
  }
  &.ci-enabled{
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  }
}