.member-button {
  padding: 0px;
  display: grid;
  .border-bottom {
    border-bottom: 1px solid #979797;
    width: 100%;
    margin: auto;
  }
  .member-info {
    display: grid;
    grid-template-columns: 10% 50% 10% 10% 20%;
    background-color: #fff;
    border-bottom: 1px solid #bcbbc1;
    .icon-info {
      text-align: center;
      .avatar-icon {
        text-align: center;
        margin: 10px 10px;
        overflow: hidden;
        max-height: 70px;
        padding: 0;
        display: inline-block;
        border-radius: 100%;
        background: #fff;
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
        border: 2px solid #ffffff;
        box-sizing: border-box;
        height: 70px;
        width: 70px;
        .avatar {
          backface-visibility: hidden;
          vertical-align: top;
          max-width: 70px;
        }
        .avatar-default {
          max-width: 37px;
          height: inherit;
        }
      }
    }
    .middle-info {
      display: inline-block;
      .text {
        font-size: 24px;
        font-style: italic;
        position: relative;
        top: 5px;
      }
      .name {
        display: grid;
        grid-template-columns: 2fr 1fr;
        display: inline-block;
        text-transform: uppercase;
        font-family: FontRegular;
        font-weight: 600;
        line-height: 32px;
        color: #4d5256;
        font-size: 24px;
        line-height: 29px;
        margin-top: 10px;
      }
      .intro-member-noti {
        position: relative;
        max-height: 20px;
        width: auto;
        padding-left: 5px;
        vertical-align: middle;
        margin-bottom: 10px;
      }
      .notificator {
        font-family: FontRegular;
        font-weight: 400;
        color: #6f767b;
        font-size: 13px;
        white-space: nowrap;
        padding-left: 5px;
        vertical-align: super;
        border-left: 1px solid #919aa1;
        margin-left: 5px;
      }
      .email {
        @extend .text;
        height: 20px;
        color: #8e8e93;
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        font-family: FontRegularItalic;
        font-size: 20px;
        opacity: 0.5;
      }
    }
    .intro-member {
      .avatar-splat {
        position: relative;
        height: 40px;
        width: 23px;
        top: 30px;
      }
    }
    .checkbox-checkin {
      padding-top: 10px;
    }
    .submit-check-in {
      padding-right: 0;
      .alert-ic {
        width: 30px;
        height: 30px;
        position: relative;
        left: 186px;
        bottom: 110px;
      }
      .check-in-btn {
        background: linear-gradient(148.29deg, #ff5d00 0%, #e33622 100%);
        border: none;
        color: white;
        border-radius: 28px;
        font-size: 25px;
        text-transform: uppercase;
        width: 75%;
        display: flex;
        font-style: italic;
        margin-top: 25px;
        align-items: center;
        justify-content: center;
        letter-spacing: 1px;
        &.signed {
          font-size: 25px;
          background: #989898;
        }
      }
      .uncheck-member {
        background: none;
        border: none;
        float: right;
        padding: 0 50px;
      }
      .checked-in-text {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 30px;
        color: #989898;
      }
    }
    &:hover {
      background-color: #f5f5f5;
    }
    &.signed {
      &:hover {
        box-shadow: 0 0 0 5px #989898 inset;
      }
    }
    &.disabled {
      background-color: #d2d2d2;
      color: #a3a3a3;
      border: 0.8 solid #d4d4d4;
      .name {
        color: #a3a3a3;
      }
      &:hover {
        background-color: #d2d2d2;
        box-shadow: 0 0 0 5px #a3a3a3 inset;
        color: #a3a3a3;
        border: 0.8 solid #d4d4d4;
        .name {
          color: #a3a3a3;
        }
      }
    }
    &.active {
      border-bottom: 2px solid #ff5d00;
      border-top: 2px solid #ff5d00;
    }
  }
}

@media (max-width: 1550px) {
  .member-button {
    .member-info {
      .info {
        .email {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .member-button {
    .member-info {
      display: grid;
      grid-template-columns: 20% 40% 10% 10% 20%;
      .info {
        .email {
          font-size: 18px;
        }
      }
    }
    .submit-check-in {
      padding-right: 0;
      .check-in-btn {
        &.signed {
          width: 80%;
          margin-top: 10px;
        }
      }
    }
  }
}
