.date-wapper {
  width: 140px;
  height: 80px;
  position: absolute;
  margin-top: -67px;
  margin-left: 20px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .06);
  .content-left {
    width: 70px;
    height: 80px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
    background-color: #f8f7f7;
    text-align: center;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .06);
  }
  .content-right {
    @extend .content-left;
    background-color: #fff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  .content {
    position: absolute;
    text-align: center;
    width: 140;
  }
  label {
    font-size: 20px;
    font-weight: bold;
    font-stretch: condensed;
    line-height: 1.09;
    letter-spacing: .4px;
    color: #f58220;
    font-style: italic;
    text-transform: uppercase;
    margin-top: 22px;
  }
  span {
    @extend label;
    line-height: 1.2;
  }
  .date {
    @extend span;
    color: #333333;
  }
  .ellipse {
    color: #dadada;
    font-size: 24px;
  }
}
