.language-setting-wrapper {
  height: calc(100% - 92px);
  width: 100%;
  text-align: center;
  background: linear-gradient(315.23deg, #19171f 0%, #2d2a37 100%);
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, .28);
  p {
    margin: 0px 0 45px;
  }
  .label-page {
    color: #ffffff;
    font-family: FontBold;
    font-size: 48px;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: .92px;
    padding-top: 15%;
  }
  .dropdown {
    display: flex;
    justify-content: center;
    .form-select {
      width: 19.5%;
      height: 70.4px;
      .Select--single {
        &.is-open {
          .Select-control {
            .Select-arrow-zone {
              .Select-arrow {
                border-width: 0px 9px 9px;
              }
            }
          }
        }
        .Select-control {
          height: 60px;
          .Select-value {
            line-height: 60px;
            font-family: "Source Sans Pr";
            text-align: left;
            padding-left: 6%;
            .Select-value-label {
              color: #777777;
              text-transform: capitalize;
              font-size: 24px;
              font-weight: 600;
            }
          }
          .Select-arrow-zone {
            .Select-arrow {
              border-width: 9px 9px 2.5px;
            }
          }
        }
        .Select-menu-outer {
          .Select-menu {
            .Select-option {
              text-align: left;
              text-transform: capitalize;
              padding-left: 6%;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
