.date-time-picker {
  width: 100%;
  height: 80px;
  display: inline-block;
  .datetime-picker-wrapper {
    .form-control[readonly] {
      background: none;
    }

    /* Removes the clear button from date inputs */
    input[type="datetime-local"]::-webkit-clear-button,
    input[type="date"]::-webkit-clear-button {
      display: none;
    }

    /* Removes the spin button */
    input[type="datetime-local"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-inner-spin-button {
      display: none;
    }

    /* Always display the drop down caret */
    input[type="datetime-local"]::-webkit-calendar-picker-indicator,
    input[type="date"]::-webkit-calendar-picker-indicator {
      color: #2c3e50;
      display: none;
    }

    /* A few custom styles for date inputs */

    input[type="datetime-local"],
    input[type="date"] {
      appearance: none;
      -webkit-appearance: none;
      color: #fff;
      opacity: 0.5;
      letter-spacing: 12px;
      font-size: 52px;
      line-height: 63px;
      text-transform: uppercase;
      text-align: left;
      display: inline-block !important;
      visibility: visible !important;
    }

    input[type="datetime-local"]:focus,
    input[type="date"]:focus {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      color: #fff;
      opacity: 1;
    }
  }
}

.input-group-addon {
  background-color: white;
}

.bootstrap-datetimepicker-widget {
  padding: 0 !important;
  background: url("./images/Calendar-BG.jpg") no-repeat;
  background-size: cover;
  color: white;
  width: 450px !important;
  height: 370px;
  top: 210px !important;
  right: 0 !important;
  left: 0 !important;
  border-radius: 0;
  margin-right: auto;
  margin-left: 350px;
  margin-top: 55px;

  &::after,
  &::before {
    border-bottom: none !important;
  }
  .glyphicon-time {
    display: none !important;
  }
  .list-unstyled {
    padding-top: 0;
    li:last-child {
      .btn {
        background-color: #28292d;
      }
    }
  }

  .timepicker-picker {
    .btn {
      color: white;

      &.btn-primary {
        border-radius: 50%;
        background-color: #f48120;
      }
    }
  }
  table {
    height: 93%;
    border: none;
    color: white;
    font-size: 25px;

    thead {
      color: #f48120;
      tr {
        &:first-child {
          height: 60px;
          background-image: linear-gradient(267deg, #e95707, #f58220);
        }
        &:last-child {
          height: 40px;
          th {
            height: 50px;
            font-weight: normal;
            color: #9e9fa5;
            border-radius: 0;
          }
        }
      }
    }

    th {
      border-radius: 0;
      &.picker-switch {
        padding-top: 10px;
        color: white;
        font-weight: bold;
        text-transform: uppercase !important;
        .month {
          font-size: 30px;
        }
        .year {
          font-size: 22px;
          font-weight: 200;
        }
      }

      &.next,
      &.prev {
        padding-top: 20px;
        font-size: 15px;
        color: white;
        &:hover {
          background-color: transparent !important;
        }
        .glyphicon {
          top: -8px;
          width: 25px;
          height: 24px;
          padding-top: 5px;
          border-radius: 100px;
          font-weight: lighter;
          border-left: 0;
          border-top: 0;
        }
      }
    }

    tbody {
      font-weight: bold;
      .day {
        height: 40px;
        &:hover {
          color: #444c52;
        }

        &.active {
          background-origin: content-box;
          background: url("./images/active-day.svg") no-repeat center center;
          background-size: 40px 40px;
          color: white;

          &.today {
            &::before {
              border-bottom: none;
            }
          }
        }

        &.today {
          &::before {
            border-bottom: 7px solid white;
          }
        }
      }
    }
  }
  .datepicker-decades table td span {
    width: 140px !important;
    height: 50px !important;
    display: none !important;
  }
  .datepicker-decades table td .decade {
    display: inline-block !important;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 80px;
  padding: 6px 12px;
  font-size: 30.6px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  &.has-error {
    border-color: #a94442 !important;
    outline-color: #a94442 !important;
    background-color: #ecd1d6 !important;
  }
}

.input-group {
  width: 100%;

  &.date {
    input {
      font-size: 25px;
      font-weight: normal;
    }
  }
}

.input-group-addon {
  width: 100px;
  font-size: 30px;
  text-align: center;
  padding-bottom: 24;
  padding-left: 33;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
  padding-top: 20;
}

tr {
  td.day {
    width: 30px;
    height: 30px;
  }
}

.picker-switch {
  text-transform: uppercase;
  position: relative;
  &:hover {
    background-color: transparent !important;
  }
}

.daterangepicker {
  background-color: #444c52;
  color: white;
  padding: 20px;

  &:after {
    border-bottom: 6px solid #444c52;
  }

  .daterangepicker_input {
    // sass-lint:disable-line class-name-format

    .input-mini {
      background-color: #545c62;
      color: #ced3d6;
      font-size: 14px;
      text-align: left;
      margin-bottom: 20px;
    }
  }

  th.month {
    color: #f58220;
  }

  td.off {
    background-color: transparent;
  }
  td.active {
    background-color: #f58220 !important;
  }
  td.in-range {
    background-color: #a26938;
  }
  td.off.in-range {
    background-color: transparent;
  }

  .calendar-table {
    background-color: #444c52;
    border: 2px solid #525a60;

    .table-condensed {
      color: white;
      font-size: 14px;
      font-weight: normal;

      th {
        font-weight: normal;
      }

      thead > tr:nth-child(2) {
        background-color: #676767;
        th {
          border-radius: 0;
        }
      }
      tbody > tr > td,
      thead > tr > th {
        padding: 10px;
      }
    }
  } // sass-lint:disable class-name-format
  .daterangepicker_input {
    .input-mini {
      border: unset;
    }
  }

  .ranges {
    button {
      height: auto;
    }
    .applyBtn {
      background-color: #5cb85c;
    }
    .cancelBtn:hover {
      color: #333;
    }
  } // sass-lint:enable class-name-format
}
