// sass-lint:disable all class-name-format
$errorBorderColor: #a94442;
.form-select {
  position: relative;
  .highlight-select {
    font-weight: bold;
    background-color: transparent;
    margin-left: -10px;
    padding: 0 0 0 10;
  }
  .Select-menu-outer {
    z-index: 3 !important;
    font-size: 20px;
    .Select-menu {
      &::-webkit-scrollbar-track {
        background-color: #dedede;
        border-radius: 4px;
      }
      &::-webkit-scrollbar {
        width: 8px;
        background-color: #f5f5f5;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #7e7e7e;
        border: 4px solid #555555;
        border-radius: 4px;
      }
    }
  }
  .text-danger-tooltip {
    visibility: hidden;
    display: block;
    background-color: #fff3f3;
    border: 1px solid $errorBorderColor;
    color: #9f3a38;
    text-align: left;
    border-radius: 4px;
    position: absolute;
    z-index: 110;
    font-size: 16px;
    left: 0;
    right: 0;
    margin: 5px auto;
    width: 100%;
    height: 36px;
    padding: 7px 10px;
  }
  .text-danger-tooltip::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #9f3a38 transparent;
  }
  &.has-error {
    .Select-control {
      border-color: $errorBorderColor;
      background-color: #ecd1d6;
    }
  }
  .Select:hover+.text-danger-tooltip {
    visibility: visible;
  }
  .is-open+.text-danger-tooltip {
    visibility: hidden !important;
  }
  .is-disabled .Select-value-label{
    color: #aaa !important;
  }
  .Select-value{
    font-size: 21px;
  }
}

// sass-lint:enable all class-name-format
