@import 'bootstrap/dist/css/bootstrap.min.css';
@import './error-message.scss';
// Import override boostrap theme
@import './override-bootstrap/button.scss';
@import './radio-button.scss';
@import './override-browser/webkit.scss';
@import './checkbox.scss';
@font-face {
  font-family: FontRegular;
  src: url('../fonts/Klavika-RegularCond.otf');
}

@font-face {
  font-family: FontBold;
  src: url('../fonts/Klavika-BoldCond.otf');
}

@font-face {
  font-family: FontRegularItalic;
  src: url('../fonts/Klavika-RegularCondItalic.otf');
}

@font-face {
  font-family: FontBoldItalic;
  src: url('../fonts/Klavika-BoldCondItalic.otf');
}

html * {
  font-family: FontRegular;
  font-stretch: condensed;
}

.hide {
  display: none;
}

.no-underline:hover {
  text-decoration: none;
}

input {
  &::placeholder {
    font-size: 27.5px;
    color: #dedddd;
  }
  &.fake-input {
    border: none;
    width: 1px;
    height: 0;
    position: absolute;
    top: 0;
  }
}

.custom-scrollbar {
  &::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 4px;
  }
  &::-webkit-scrollbar {
    width: 8px;
    background-color: black;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #7e7e7e;
    border: 4px solid #555555;
    border-radius: 4px;
  }
}

.disable-block {
  pointer-events: none;
  opacity: .4;
}
.selected-flag{
  border: none;
  background: none;
}