/**
* Css for radio button with orange theme
**/

$White: #fff;

$Orange: #f58220;

$BorderColor: black;

input[type='checkbox'] {
  display: none;
}

input[type='checkbox']+label span {
  @include border-radius(50%);
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border: solid 5px $BorderColor;
  background-color: #404142;
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, .5), 0 2px 4px 0 rgba(0, 0, 0, .5);
}

input[type='checkbox']+label span:after {
  @include border-radius(50%);
  display: inline-block;
  content: '';
  width: 40px;
  height: 40px;
  background-color: #404142;
}

input[type='checkbox']:checked+label span:after {
  background-color: $Orange;
}

input[type='checkbox']+label span:after,
input[type='checkbox']:checked+label span:after {
  @include transition(background-color .4s linear);
}

.checkbox-inline {
  padding-left: 0;
  padding-right: 20px;
}
