$ErrorBorderColor: #a94442;

.input-form {
  position: relative;
}

.input-form:hover .text-danger-tooltip {
  visibility: visible;
}

.input-form .text-danger-tooltip {
  visibility: hidden;
  display: block;
  background-color: #fff3f3;
  border: 1px solid $ErrorBorderColor;
  color: #9f3a38;
  text-align: left;
  border-radius: 4px;
  padding: 12px 10px;
  position: absolute;
  z-index: 110;
  width: 100%;
  min-height: 50px;
  font-size: 16px;
  left: 0;
  right: 0;
  margin: 5px auto;
}

.input-form .text-danger-tooltip::after {
  border-color: transparent transparent #9f3a38 transparent;
  border-style: solid;
  border-width: 5px;
  bottom: 100%;
  content: '';
  left: 10%;
  margin-left: -5px;
  position: absolute;
}

.input-form.has-error {
  input {
    border-color: $ErrorBorderColor !important;
    outline-color: $ErrorBorderColor !important;
    background-color: #ecd1d6 !important;
  }
  div.form-control{
    background-color: #ecd1d6;
  }
}
