/**
* Css for radio button with orange theme
**/

$white: #fff;

$orange: #f48120;

$borderColor: #dfe3e6;

input[type='radio'] {
  display: none;
}

input[type='radio']+label span {
  @include border-radius(50%);
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border: solid 2px $borderColor;
  background-color: $white;
}

input[type='radio']+label span:after {
  @include border-radius(50%);
  display: inline-block;
  margin: 2px 0 0 2px;
  content: '';
  width: 14px;
  height: 14px;
  background-color: $white;
}

input[type='radio']:checked+label span:after {
  background-color: $orange;
}

input[type='radio']+label span:after,
input[type='radio']:checked+label span:after {
  @include transition(background-color .4s linear);
}

.radio-inline {
  padding-left: 0;
  padding-right: 20px;
}
