.home-product {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  .otbeat-txt-wrapper {
    width: 58%;
    min-height: 200px;
    position: absolute;
    top: 25%;
    .device-otbeat {
      position: relative;
      right: -25%;
      top: 11px;
      width: 65%;
      height: 430px;
    }
    .otbeat {
      color: #71787c;
      font-style: italic;
      font-size: 62px;
      padding-top: 17px;
      .t {
        font-weight: bold;
        color: #f58220;
      }
    }
  }
  .right-wrapper {
    width: 29%;
    min-height: 200px;
    position: absolute;
    top: 31%;
    right: 8%;
    .title-home {
      text-transform: uppercase;
      color: #4d5256;
      font-style: italic;
      font-size: 32px;
    }
    .content-home {
      color: #6f767b;
    }
    .orange-btn {
      height: 70px;
      width: 280px;
      border-radius: 35px;
      background-color: #f58220;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
      font-size: 33px;
      text-align: center;
      color: #ffffff;
      line-height: 2.3;
      font-weight: bold;
      font-style: italic;
      margin-top: 40px;
      cursor: pointer;
    }
  }
}