.back-button {
  width: 85px;
  min-height: 91px;
  float: left;
  color: #fff;
  background: linear-gradient(148.29deg, rgb(255, 93, 0) 0%, rgb(227, 54, 34) 100%);
  text-align: center;
  cursor: pointer;
  box-shadow: inset -5px 0 4px -15px #000;

  img {
    width: 20px;
    margin-top: 27.5px;
  }
}
