.which-wearable-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  .wearable-opt{
    padding-top: 60px;
    .wearable-wrapper{
      .wearable{
        width: 70%;
        height: 270px;
        margin: 0 auto;
        &.other{
          width: 60%;
        }
      }
    }
    .wearable-name{
      text-transform: uppercase;
      font-style: italic;
      color: #6f767b;
      font-weight: bold;
    }
  }
}
