.prefer-to-wear-wrapper{
  padding: 80px 210px;
  .question{
    color: #4d5256;
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
  }
  .place-wrapper{
    display: flex;
    justify-content: center;
    padding: 15px;
    .body-part{
      text-align: center;
      .img-part{
        width: 250px;
        height: 250px;
      }
      .name-part{
        font-style: italic;
        color: #6f767b;
        font-weight: bold;
        margin-top: 50;
      }
    }
  }
}
