.full-width {
  width: 100%;
  height: 100%;
}
.app-signature-pad{
  background-color: lightgray;
  .btn-prev{
    position: relative;
    bottom: 50px;
    left: 108%;
    width: 90px;
    height: 40px;
    font-size: 17px;
  }
}