.member-result-item {
  display: inline-flex;
  padding: 20px;
  &.frost-item {
    opacity: .5;
  }
  .container-member {
    border-radius: 4px;
    border: solid 1px #ced3d6;
    height: 100px;
    width: 340px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .15);
    display: flex;
    padding-left: 35px;
    &:hover {
      box-shadow: 0 0 0 3px #f48120 inset;
    }
    .wrapper-member {
      height: 100%;
      width: 100%;
      display: flex;
    }
    .avatar-icon{
    text-align: left;
    margin: 10px;
    overflow: hidden;
    max-height: 105px;
    padding: 0;
    display: inline-block;
    border-radius: 100%;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
    border: 2px solid #fff;
    box-sizing: border-box;
    position: relative;
    height: 60px;
    top: 10px;
    right: 10px;
    width: 60px;
    .icon-member {
      backface-visibility: hidden;
      vertical-align: top;
      max-width: 100px;
    }
    }
    .wrap-name {
      display: flex;
      flex-direction: column;
    }
    .name-member {
      position: relative;
      top: 15px;
      right: 20px;
      font-weight: bold;
      font-stretch: condensed;
      line-height: 1.3;
      letter-spacing: .4px;
      color: #4a4a4a;
      word-wrap: break-word;
      padding: 0 10px;
      font-size: 30px;
      font-style: italic;
      font-family: FontRegular;
      text-align: left;
    }
    .email {
      font-family: FontRegularItalic;
      font-size: 20px;
      opacity: .36;
      position: relative;
      text-align: left;
      right: 10px;
    }
  }
  &.disabled{
    pointer-events: none;
    opacity: .6;
  }
}
.openCI-confirmation {
  .modal-content {
    top: 250px!important;
    .modal-header {
      display: none;
    }
    .modal-body {
      font-size: 30px;
      padding: 30px;
      text-align: center;
    }
    .modal-footer {
      text-align: center;
      .btn {
        margin-left: 25px;
        margin-right: 25px;
      }
    }
  }
}