.lifestyle-metrics-wearable-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45%;
  transform: translateX(-50%) translateY(-50%);
  .lms{
    width: 100%;
    height: 260px;
    padding-left: 10;
    padding-right: 10;
    .tracking-metrics{
      width: 100%;
    }
  }
  .question{
    color: #4d5256;
    font-size: 30px;
    margin-bottom: 50;
    text-align: center;
    width: 85%;
    margin: 0 auto 80 auto;
  }
  .btn-wrapper{
    display: flex;
    justify-content: center;
    padding: 15px;
    .yes-btn{
      height: 70px;
      width: 280px;
      border-radius: 1px;
      background-color: #f58220;
      font-size: 33px;
      text-align: center;
      color: #ffffff;
      line-height: 2.3;
      font-weight: bold;
      font-style: italic;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
      margin: 0 20px;
    }
    .no-btn{
      @extend .yes-btn;
      background-color: #6f767B;
    }
  }
}
