.wizard-form {
  .btn-next, 
  .btn-prev {
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
  }
  .btn-prev {
    border-radius: 5px;
    box-shadow: 0 0 7.6px .4px rgba(60, 58, 56, .2);
    border: 1px solid #5a6064;
    margin-right: 10px;
    background-color: #fff;
    font-size: 20px;
    &:hover, &:focus {
      color: black;
    }
  }
}