.multi-member-button {
  display: grid;
  .border-bottom {
    border-bottom: 1px solid #979797;
    width: 95%;
    margin: auto;
  }
  .member-info {
    display: grid;
    grid-template-columns: 10% 50% 10% 30%;
    background-color: #fff;
    border-bottom: 1px solid #bcbbc1;
    .icon-info {
      text-align: center;
      .avatar-icon {
        text-align: center;
        margin: 10px 10px;
        overflow: hidden;
        max-height: 70px;
        padding: 0;
        display: inline-block;
        border-radius: 100%;
        background: #fff;
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
        border: 2px solid #ffffff;
        box-sizing: border-box;
        height: 70px;
        width: 70px;
        .avatar {
          backface-visibility: hidden;
          vertical-align: top;
          max-width: 70px;
        }
        .avatar-default {
          max-width: 37px;
          height: inherit;
        }
      }
    }
    .middle-info {
      display: inline-block;
      .text {
        font-size: 24px;
        font-style: italic;
        position: relative;
        top: 5px;
      }
      .name {
        display: inline-block;
        text-transform: uppercase;
        font-family: FontRegular;
        font-weight: 600;
        line-height: 32px;
        color: #4d5256;
        font-size: 24px;
        line-height: 29px;
        margin-top: 10px;
      }
      .intro-member-noti {
        position: relative;
        max-height: 20px;
        width: auto;
        padding-left: 5px;
        vertical-align: middle;
        margin-bottom: 10px;
      }
      .notificator {
        font-family: FontRegular;
        font-weight: 400;
        color: #6f767b;
        font-size: 13px;
        white-space: nowrap;
        padding-left: 5px;
        vertical-align: super;
        border-left: 1px solid #919aa1;
        margin-left: 5px;
      }
      .email {
        @extend .text;
        height: 20px;
        color: #8e8e93;
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        font-family: FontRegularItalic;
        font-size: 20px;
        opacity: 0.5;
      }
    }
    .intro-member {
      .avatar-splat {
        position: relative;
        height: 40px;
        width: 23px;
        top: 30px;
      }
    }
    .check-in {
      padding-right: 0;
      text-align: center;
    }
    .checkbox-checkin {
      padding-top: 25px;

      input[type="checkbox"] + label span {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        border: solid 5px black;
        background-color: #404142;
        box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      }

      input[type="checkbox"] + label span:after {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        content: "";
        width: 30px;
        height: 30px;
      }
    }

    &:hover {
      background-color: #f5f5f5;
    }
    &.signed {
      &:hover {
        box-shadow: 0 0 0 5px #989898 inset;
      }
    }
    &.disabled {
      background-color: #d2d2d2;
      color: #a3a3a3;
      border: 0.8 solid #d4d4d4;
      .name {
        color: #a3a3a3;
      }
      &:hover {
        background-color: #d2d2d2;
        box-shadow: 0 0 0 5px #a3a3a3 inset;
        color: #a3a3a3;
        border: 0.8 solid #d4d4d4;
        .name {
          color: #a3a3a3;
        }
      }
    }
  }
}
@media (max-width: 1300px) {
  .multi-member-button {
    .member-info {
      grid-template-columns: 15% 50% 10% 25%;
      .info {
        .email {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 1550px) {
  .member-button {
    .member-info {
      .info {
        .email {
          font-size: 18px;
        }
      }
    }
  }
}
