.own-wearable-wrapper{
  .device-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    .device{
      height: 34%;
      width: 18%;
      &.middle{
        margin-top: 60px;
      }
    }
  }
  .question{
    color: #4d5256;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }
  .btn-wrapper{
    display: flex;
    justify-content: center;
    padding: 15px;
    .yes-btn{
      height: 70px;
      width: 280px;
      border-radius: 1px;
      background-color: #f58220;
      font-size: 33px;
      text-align: center;
      color: #ffffff;
      line-height: 2.3;
      font-weight: bold;
      font-style: italic;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
      margin: 0 20px;
    }
    .no-btn{
      @extend .yes-btn;
      background-color: #6f767b;
    }
  }
}
