.devide-info{
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 15px;
  flex: 1;
  .icon-info{
    width: 30px;
    height: 50px;
  }
  .col-md-2{
    padding-left: 0;
  }
  .title{
    color: #ffffff;
    font-style: italic;
    font-family: FontBold;
    font-size: 40px;
  }
  .introduce{
    color: #9b9b9b;
    font-size: 19px;
    margin-bottom: 40px;
  }
  .wearable-prop{
    font-style: italic;
    color: #ffffff;
    line-height: .5;
    font-weight: bold;
    font-size: 20px;
  }
  .wearable-content{
    padding-top: 14px;
    color: #9b9b9b;
    font-size: 19px;
    min-height: 50px;
    &.single-ln{
      padding-top: 12px;
    }
  }
  .col-md-5{
    padding: 0;
  }
  .price-wrapper{
    @extend .title;
    font-family: FontBold;
    font-weight: bold;
    margin-top: 5%;
    .plus-tax{
      color: #9b9b9b;
      font-style: italic;
      font-size: 25px;
      font-weight: normal;
      margin-left: 10px;
    }
  }
}
.start-over{
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(315deg, #e94807 0%, #f58220 100%);
  font-size: 37px;
  color: #ffffff;
  font-style: italic;
  font-weight: bold;
  line-height: 2.5;
  margin-left: 0;
  position: absolute;
  bottom: 0;
}
