$mainColor: #e05812;
$baseColor: white;

.wizard-progress {
  box-sizing: border-box;
  padding: 8px;
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  height: 100px;

  .percent-title {
    text-align: center;
    font-size: 16px;
    color: white;
  }
  .progress {
    grid-column: 2 / 3;
    border-radius: 10px;
    padding: 4px;
    height: 100px;
    margin: 0;
    background: none;
    box-shadow: none;

    .progress-steps {
      z-index: 20;
      display: table;
      width: 100%;
      table-layout: fixed;
      position: relative;
      height: auto;
      .step{
        display: table-cell;
        text-align: center;
        vertical-align: top;
        overflow: visible;
        position: relative;
        font-size: 14px;
        color: $baseColor;
        font-weight: bold;
        span {
          font-size: 20px;
          color: black;
          position: relative;
          left: -8px;
        }
        &:not(:last-child):before{
          content: '';
          display: block;
          position: absolute;
          left: 50%;
          top: 37px;
          background-color: $baseColor;
          height: 15px;
          width: 100%;
        }
        .node{
          display: inline-block;
          border: 6px solid $baseColor;
          background-color: $baseColor;
          border-radius: 18px;
          height: 25px;
          width: 25px;
          position: absolute;
          top: 32px;
          left: 50%;
          margin-left: -18px;
        }
        &.complete{
          &:before{
            background-color: $mainColor;
          }
          .node{
            border-color: $mainColor;
            background-color: $mainColor;
            &:before{
              font-family: FontAwesome;
              content: '\f00c';
              top: -4px;
              position: relative;
              left: -2px;
              font-size: 14px;
            }
          }
        }
        &.in-progress{
          &:before{
            background: $mainColor;
            background: -moz-linear-gradient(left,  $mainColor 0%, $baseColor 100%);
            background: -webkit-linear-gradient(left,  $mainColor 0%, $baseColor 100%);
            background: linear-gradient(to right,  $mainColor 0%, $baseColor 100%);
          }
          .node{
            border-color: $mainColor;
          }
        }
      }
    }
    .progress-bar-success {
      background-color: #e05812;
      border-radius: 10px;
      position: relative;
    }
  }
}
@media (min-width: 1500px) {
  .wizard-progress {
    grid-template-columns: 20% 1fr 20%;
  }
}