.staff-section {
  .label-page {
    color: #dadada;
    font-family: FontBold;
    font-size: 60px;
    text-transform: uppercase;
    padding-top: 0;
  }

  .staff-form {
    text-align: left;
    .form-container {
      background: white;
      grid-column: 2 / 3;
      padding: 15px;
      display: flex;
      flex-direction: column;
      border: 1px solid;
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5), 0 0 5px 0 rgba(0, 0, 0, 0.5);

      .basic-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        flex: 1;
      }

      .additional-questions {
        display: grid;
        grid-gap: 10px;

        .signature {
          display: grid;
          grid-gap: 20px;

          .sig-item {
            display: grid;
            grid-template-columns: 100px 1fr 50px 350px;
            grid-gap: 20px;
            .form-control {
              &.sig {
                border: none;
                border-bottom: 1px solid black;
                box-shadow: none;
                text-align: left;
              }
            }

            &.parent-sig {
              grid-template-columns: 100px 1fr 50px 350px;
            }

            label {
              align-self: center;

              .notes {
                font-weight: 300;
                font-size: 14px;
              }
            }

            .date-time-picker {
              height: auto;
              align-self: center;

              .bootstrap-datetimepicker-widget {
                top: 0 !important;
                left: auto !important;
                right: -50px !important;
              }
            }

            .input-group {
              .form-control {
                height: 45px;
              }
              .input-group-addon {
                font-size: 25px;
                padding: 0;
                width: 100px;
              }
            }
          }
        }

        .quest-item {
          display: grid;
          grid-template-columns: 2fr 4fr;
          grid-gap: 20px;

          &.long-quest {
            grid-template-columns: 1fr 240px;
          }

          .health-checkbox {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .item {
              margin: 0 5px;
              display: inline-block;

              .txt-other {
                display: inline-block;
                width: 33%;
                margin-left: 42px;
                margin-right: 10px;
                height: 30px;
                text-align: left;
                font-size: 20px;
              }
              &.input-item {
                grid-column: 1/3;
              }
            }
          }
          .have-checkbox {
            display: grid;
            grid-template-columns: 2fr 1fr;
            .item {
              margin: 5px;
              display: inline-block;
            }
            .txt-yeslocation {
              display: inline-block;
              width: 55%;
              margin-left: 10px;
              margin-right: 15px;
              height: 30px;
              text-align: left;
              font-size: 20px;
            }
          }
          .hear-checkbox {
            display: grid;
            grid-template-rows: 1fr 1fr;
            .row-one {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              .item {
                margin: 5px;
                display: inline-block;
              }
            }
            .row-two {
              display: grid;
              grid-template-columns: 1fr 1fr;
              .item {
                margin: 5px;
                display: inline-block;
              }
              .txt-other {
                display: inline-block;
                width: 44%;
                margin-left: 33px;
                margin-right: 10px;
                height: 30px;
                text-align: left;
                font-size: 20px;
              }
            }
          }
          .fitness-muscle-checkbox {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .item {
              margin: 5px;
              display: inline-block;
            }
            .item:nth-child(5) {
              grid-column: 2/4;
            }
          }
          .fitness-distance-checkbox {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            span {
              margin: 0 5px;
              font-weight: 700;
            }
            .item {
              margin: 5px;
              display: inline-block;
            }
            .item:nth-child(2) {
              grid-column-end: 3;
            }
            .item:nth-child(4) {
              grid-column-end: 3;
            }
          }
          .fitness-strength-checkbox {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .item {
              margin: 5px;
              display: inline-block;
            }
          }
          .fitness-something-checkbox {
            display: grid;
            grid-template-columns: 1fr 2fr;
            .item {
              margin: 5px;
              display: inline-block;

              &.input-item {
                display: flex;
                label {
                  width: 5em;
                }
                .form-control {
                  width: 40%;
                }
              }
            }
          }
        }
      }

      .input-form {
        width: 100%;
        .quest-answer {
          font-size: 20px;
          text-align: left;
        }
        &.ati-input {
          display: flex;
          .allocated-to-invest {
            width: 96%;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
          }
          .prefix-ati {
            width: 4%;
            height: 34px;
            text-align: center;
            font-size: 25px;
            border-radius: 4px;
            background-color: lightgray;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }

      .input-item {
        .form-control {
          height: 34px;
          font-size: 21px;
          display: inline-block;
          &.location {
            width: 61%;
            display: inline-block;
            margin-right: 10px;
          }
          &.inline {
            display: unset;
            width: 55%;
            margin-right: 30px;
          }
          &.other-time {
            width: 27%;
            display: inline-block;
            margin-right: 10px;
          }
        }
        .week-checkbox {
          display: flex;
          .item {
            margin-right: 20px;
            label::before {
              margin-right: 5px;
            }
          }
        }
        &.nested {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 10px;
        }
      }

      .date-time-picker {
        height: 34px;

        .bootstrap-datetimepicker-widget {
          top: 0 !important;
          left: auto !important;
          right: -50px !important;
        }
      }

      .input-group-addon {
        width: 1px;
        font-size: 16px;
        text-align: center;
        padding-bottom: 0;
        padding: 1px 10px;
      }

      input[type="radio"] + label span {
        width: 22px;
        height: 22px;

        &::after {
          width: 15px;
          height: 15px;
        }
      }

      .gender-fields,
      .marital-fields {
        padding-top: 5px;
      }

      .react-tel-input {
        input[type="tel"] {
          font-size: 21px;
          box-shadow: none;
          padding: 0 0 0 45px;
          border-radius: 0;
          border: none;
          top: -3px;
          height: 27px;
          text-align: left;
        }

        .flag-dropdown {
          background: none;
          border: none;
          top: 2px;
        }
      }
    }
    .for-studio-use-only {
      text-align: center;
    }
  }
}

@media (min-width: 1500px) {
  .staff-section {
    .staff-form {
      grid-template-columns: 300px 1fr 300px;
    }

    .quest {
      font-size: 18px;
    }

    label {
      font-size: 18px;
    }

    .title {
      font-size: 20px;
    }

    .additional-questions {
      .quest-item {
        grid-template-columns: 270px 1fr;
      }

      .title {
        font-size: 20px;
        font-weight: unset;
      }

      .quest,
      .notes {
        font-size: 18px;
      }
      .signature {
        .sig-item {
          &.parent-sig {
            grid-template-columns: 200px 1fr 50px 350px;
          }
        }
      }
    }
  }
  li {
    padding: 10px 0;
    font-size: 20px;
  }
}
