.weekly-checkin {
  background: #ffffff;
  color: #555555;
  border-bottom: 1px solid #bcbbc1;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  text-align: center;
  .col-end {
    padding: 31px;
    cursor: pointer;
    .glyphicon {
      font-size: 25px;
      color: linear-gradient(148.29deg, #FF5D00 0%, #E33622 100%);
    }
  }
  .col-center {
    display: grid;
    grid-template-columns: repeat(7, auto);
    .day {
      display: flex;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      font-size: 18px;
      font-weight: 700;
      margin: 5px;
      cursor: pointer;
      .number {
        font-size: 25px;
        margin: auto;
        justify-content: center;
        align-items: center;
      }
      &.active {
        background-color: #3F7FB4;
        border-radius: 50%;
        background-size: 40px 40px;
        color: white;
      }
    }
  }
  .col-start {
    padding: 31px;
    cursor: pointer;
    .glyphicon {
      font-size: 25px;
      color: linear-gradient(148.29deg, #FF5D00 0%, #E33622 100%);
    }
  }
}
