.list-member-checkin {
  overflow-y: scroll;
  height: 795px;
  .checked-in {
    .checked-in-text {
      color: #bcbcbc;
      font-size: 30px;
      font-family: FontBold;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
.list-member-bulk-checkin {
  overflow-y: scroll;
  height: 795px;
  .header-bulk-checkin {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 80px;
    .title-bulk-chekin {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      p {
        color: #bcbcbc;
        font-size: 30px;
        font-family: FontBold;
        text-transform: uppercase;
        text-align: center;
        margin-right: 165px;
      }
    }
    .select-bulk-checkin {
      display: flex;
      list-style-type: none;
      align-items: center;
      .btn-select-all {
        width: 30%;
        border-radius: 5px;
        box-shadow: 0 0 7.6px 0.4px rgba(60, 58, 56, 0.2);
        border: 1px solid #5a6064;
        background-color: #fff;
        font-size: 23px;
        height: 40px;
        text-align: center;
        font-style: italic;
        text-transform: uppercase;
        p {
          padding-top: 3px;
          color: #5a6064;
        }
      }
      .btn-check-in {
        background-color: #f58220;
        text-align: center;
        font-size: 23px;
        height: 40px;
        font-weight: 700;
        font-style: italic;
        text-transform: uppercase;
        border: none;
        text-align: center;
        margin-left: 4%;
        border-radius: 5px;
        width: 30%;
        p {
          padding-top: 3px;
          color: #ffffff;
        }
      }
    }
  }
}

#style-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5em;
  background-color: #f5f5f5;
}

#style-scroll::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

#style-scroll::-webkit-scrollbar-thumb {
  background-color: #f48120;
  border-radius: 5em;
  border: 1px solid #d1d1d6;
}
.list-member-uncheckin {
  .item-member-signin {
    .member-button {
      .member-info {
        background: gray;
      }
    }
  }
}
@media (max-width: 1300px) {
  .list-member-bulk-checkin {
    .header-bulk-checkin {
      .title-bulk-chekin {
        p {
          margin-right: 45px;
        }
      }
      .select-bulk-checkin {
        .btn-select-all {
          width: 45%;
          cursor: pointer;
          p {
            color: #5a6064;
           
          }
        }
        .btn-check-in {
          width: 45%;
          cursor: pointer;
          p {
            color: #ffffff;
           
          }
        }
      }
    }
  }
}
