.change-password-form {
  width: 31%;
  height: 575px;
  background-image: url('./images/Login-BG.svg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 1px 38px rgba(135, 135, 135, .3);
  margin: 0 auto;
  min-width: 600px;
  color: black;
  text-align: center;

  .header-login {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    height: 120px;
    .logo {
      width: 15%;
    }
    .title {
      span {
        color: #39393a;
        font-size: 40px;
        line-height: 90px;
        text-transform: uppercase;
        font-family: FontBoldItalic;
        letter-spacing: 2px;
        padding-top: 14px;
      }
    }
  }
  .input-form {
    width: 500px;
    margin: 0 auto;
  }

  .fitness-challenge-application{
    background-image: url('./images/Challenge-Tracker-BG.jpg');
    font-size: 45px;
    line-height: 1.9;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    font-style: italic;
    text-transform: uppercase;
    span{
      font-family: FontBold;
    }
  }

  .change-password-text {
    h3 span {
      margin-top: 0;
      text-transform: uppercase;
      font-family: FontBold;
      font-style: italic;
      font-size: 25px;
    }
  }

  p.instruction {
    font-size: 22px;
    margin-top: 20px;
  }

  .col-2 {
    margin-top: 30px !important;
  }

  .change-password-btn {
    height: 60px;
    border: none;
    width: 96%;
    border-radius: 0;
    background-image: linear-gradient(241deg, #e95707, #f58220);
    font-size: 22px;
    color: white;
    font-style: italic;
    font-weight: bold;
  }

  .form-container {
    margin-top: 10px !important;

    button[disabled]{
      opacity: .65;
      box-shadow: none;
    }
  }
  .fp-icon{
    width: 130px;
  }
}

.dialog-change-password{
  .input-form {
    margin-bottom: 15px;
  }

  .modal-title {
    margin-top: 15px;
    text-align: center;
    font-size: 48px;
    font-style: italic;
    line-height: 57px;
    font-weight: bold;
    background: #fff url('./images/Lock-New-Password-Active.svg') no-repeat scroll 73px;
    background-size: 24px;
    outline-color: #f48120;
  }

  .modal-header {
    border: none;

    .close {
      position: absolute;
      font-size: 48px;
      right: 15;
      top: 10;
      opacity: 1;
      color: black;
      font-family: 'Helvetica Neue';
      height: 56px;
      width: 29px;
      font-weight: 100;
      letter-spacing: 2px;
      line-height: 57px;
    }
  }

  .input-password {
    width: 470px;
    height: 60px;
    padding-left: 64px;
    border: none;
    border-bottom: solid 1px #ced3d6;
    font-size: 20px;
    font-stretch: condensed;
    line-height: 1.2;
    letter-spacing: .6px;
    text-align: left;
    color: #333333;

    &::-webkit-input-placeholder {
      font-size: 20px;
    }

    &.current-password {
      background: #fff url('./images/Lock-Current-Password-Inactive.svg') no-repeat scroll 24px;
      background-size: 24px;
      &:focus {
        background: #fff url('./images/Lock-Current-Password-Active.svg') no-repeat scroll 24px;
        background-size: 24px;
        outline-color: #f48120;
      }
    }

    &.new-password {
      background: #fff url('./images/Lock-New-Password-Inactive.svg') no-repeat scroll 24px;
      background-size: 24px;
      &:focus {
        background: #fff url('./images/Lock-New-Password-Active.svg') no-repeat scroll 24px;
        background-size: 24px;
        outline-color: #f48120;
      }
    }

    &.confirm-password {
      background: #fff url('./images/Lock-Confirm-Password-Inactive.svg') no-repeat scroll 24px;
      background-size: 30px;

      &:focus {
        background: #fff url('./images/Lock-Confirm-Password-Active.svg') no-repeat scroll 24px;
        background-size: 30px;
        outline-color: #f48120;
      }
    }

    .text-danger-tooltip {
      width: 470px;
    }
  }

  h1 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 48px;
    font-style: italic;
    line-height: 57px;
    font-weight: bold;
  }

  .description {
    margin-bottom: 30px;
    text-align: center;
  }

  button.btn {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
