.add-member-form-modal {
  margin-top: 6% !important;
  .add-member-form-header {
    display: none;
  }
  .modal-content {
    border-radius: 0;
  }
  .modal-body {
    padding: 0;
    .add-member-form {
      height: 620px;
      .close-btn {
        font-size: 40px;
        float: right;
        position: relative;
        bottom: 60px;
        width: 46px;
        top: 8px;
      }
      .right-content {
        background-color: #f1f1f1;
        background-size: cover;
        text-align: center;
        height: 100%;
        position: relative;
        left: 1px;
        .header-txt{
          text-transform: uppercase;
          font-style: italic;
        }
        .title{
          @extend .header-txt;
          font-weight: bold;
          font-size: 43px;
          padding-top: 67px;
          color: #4a4a4a;
        }
        .time{
          @extend .header-txt;
          font-weight: bold;
          font-size: 24px;
          color: #6f767b;
          margin: unset;
        }
        .class-info{
          @extend .header-txt;
          font-size: 24px;
          color: #6f767b;
          margin-bottom: 40;
        }
        .add-btn{
          @extend .header-txt;
          min-height: 11%;
          width: 60%;;
          background: linear-gradient(315deg, #e94807 0%, #f58220 100%);
          font-weight: bold;
          font-size: 30px;
          letter-spacing: 2px;
          color: #fff;
          border: none;
        }
        .search-member {
          top: 43px;
          margin: 10px auto 170px auto;
          width: 95%;
          .search{
            display: flex;
            .ph-name{
              border-bottom: solid 2px #ced3d6;
              font-size: 30px;
              color: #bcbcbc;
            }
            .autosuggest-container{
              width:100%;
              .autosuggest-input{
                position: relative;
                background-color: #f1f1f1;
                width: 100%;
                height: 44px;
                padding-right: 20;
                padding-left: unset;
                border: solid 2px #ced3d6;
                background: unset;
                background-size: 24px;
                font-size: 28px;
                font-stretch: condensed;
                line-height: .86;
                letter-spacing: .6px;
                text-align: right;
                color: #6f767b;
                border-top: none;
                border-left: none;
                border-right: none;
              }
            }
          }
        }
      }
      .left-content{
        .bootstrap-datetimepicker-widget{
          width: 343px !important;
          height: 360px;
          color: unset;
          margin-top: 30;
          margin-left: unset;
          background: none;
          .table-condensed{
            color: unset;
            height: unset;
            thead tr:first-child{
              height: 40px;
              background-image: unset;
              border-radius: 10px;
              background-color: #bcbcbc;
            }
            th.prev, th.next, th.picker-switch{
              color: #4a4a4a;
            }
            th.prev{
              border-top-left-radius: 40px;
              border-bottom-left-radius: 40px;
            }
            th.next{
              border-top-right-radius: 40px;
              border-bottom-right-radius: 40px;
            }
          }
        }
        .class-time{
          top: 320px;
          position: relative;
          max-height: 170px;
          overflow-y: auto;
          overflow-x: hidden;
          width: 102%;
          &::-webkit-scrollbar-track {
            background-color: #dedede;
            border-radius: 4px;
          }
          &::-webkit-scrollbar {
            width: 8px;
            background-color: #f5f5f5;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #7e7e7e;
            border: 4px solid #555555;
            border-radius: 4px;
          }
          tr{
            height: 52px;
          }
          .td-time {
            width: 100px;
            height: 30px;
            padding-left: 10px;
            padding-right: 3px;
            .time-btn {
              box-sizing: border-box;
              height: 40px;
              width: 100px;
              border: 1px solid #6F767B;
              box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
              text-align: center;
              color: #6f767b;
              line-height: 37px;
              font-size: 20;
              &.selected{
                background: linear-gradient(315deg, #e94807 0%, #f58220 100%);
                color: #fff;
              }
            }
          }
        }
      }
      .Select-input > input{
        width: 100%;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}
@media (min-height: 700px) and (max-height: 750px) {
  .add-member-form-modal {
    margin-top: 1% !important;
  }
}
