.count-member {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  height: 120px;
  background-color: #f5f5f5;
  .number {
    color: #6f767b;
    font-family: FontRegular;
    font-size: 54px;
    line-height: 65px;
    font-weight: 700;
  }
  .title {
    font-family: FontRegular;
    color: #6f767b;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
  }
  .time {
    color: #6f767b;
    font-family: FontRegular;
    font-size: 54px;
    line-height: 65px;
    font-weight: 700;
  }
  .start-time {
    width: 165px;
    .class-start-in {
      font-family: FontRegular;
      color: #6f767b;
      font-size: 20px;
      font-weight: 500;
      line-height: 18px;
    }
  }
}
