
.member-section {
  .label-page {
    color: #dadada;
    font-family: FontBold;
    font-size: 60px;
    text-transform: uppercase;
    padding-top: 0;
  }

  .member-form {
    text-align: left;
    .form-container {
      background: white;
      grid-column: 2 / 3;
      padding: 15px;
      display: flex;
      flex-direction: column;
      border: 1px solid;
      box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5), 0 0 5px 0 rgba(0, 0, 0, 0.5);

      .basic-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        flex: 1;
      }

      .additional-questions {
        display: grid;
        grid-gap: 10px;

        .quest-item {
          display: grid;
          grid-template-columns: 240px 1fr;
          grid-gap: 20px;

          &.long-quest {
            grid-template-columns: 1fr 240px;
          }

          .quest {
            align-self: center;
          }
          .quest-none {
            font-size: 18px;
            align-self: center;
            color: red;
          }

          .health-checkbox {
            display: inline-block;

            .item {
              margin: 0 5px;
              display: inline-block;

              .txt-other-health {
                display: inline-block;
                width: 160px;
                margin-left: 10px;
                height: 25px;
                text-align: left;
                font-size: 20px;
              }
            }
          }
        }
      }
      .quest-red {
        color: red;
        font-size: 18px;
      }
      .signature {
        margin-top: 30px;

        .input-form .form-control {
          border: none;
          border-bottom: 1px solid black;
          box-shadow: none;
          text-align: left;
        }
      }

      .input-form {
        .quest-answer {
          font-size: 20px;
          text-align: left;
        }
      }

      .input-item {
        .form-control {
          height: 34px;
          font-size: 21px;
        }

        &.nested {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 10px;
          .unit-checkbox {
            display: flex;

            .item {
              margin-left: 10px;
            }
          }
        }
        .title-none {
              color: red;
              font-size: 20px;
            }
      }

      .date-time-picker {
        height: 34px;

        .bootstrap-datetimepicker-widget {
          top: 50 !important;
          left: auto !important;
          left: 0px !important;
        }
      }

      .input-group-addon {
        width: 1px;
        font-size: 16px;
        text-align: center;
        padding-bottom: 0;
        padding: 1px 10px;
      }

      input[type="radio"] + label span {
        width: 22px;
        height: 22px;

        &::after {
          width: 15px;
          height: 15px;
        }
      }
      .gender-fields,
      .marital-fields {
        padding-top: 5px;
      }

      .react-tel-input {
        input[type="tel"] {
          font-size: 21px;
          box-shadow: none;
          padding: 0 0 0 45px;
          border-radius: 0;
          border: none;
          top: -3px;
          height: 27px;
          text-align: left;
        }
        .flag-dropdown {
          background: none;
          border: none;
          top: 2px;
        }
      }
      .rw-widget-picker{
         input[type="text"] {
          font-size: 20px;
         }
      }
      .title-txt {
        font-weight: bold;
        text-align: right;
      }
    }
  }
  .red-star {
    color: red;
  }
  .height {
    display: flex;
    .height-feet {
      width: 80%;
    }
    .height-inch {
      margin-top: 20px;
      width: 80%;
    }
    .unit {
      font-size: 23px;
      margin-left: 10;
      width: 20%;
    }
  }
}

@media (min-width: 1500px) {
  .member-section {
    .label-page {
      font-size: 80px;
    }

    .member-form {
      grid-template-columns: 300px 1fr 300px;
      .height-inch {
        margin-top: 27px;
        width: 80%;
      }
    }

    label {
      font-size: 18px;
    }

    .title {
      font-size: 20px;
    }
    .title-none {
      color: red;
      font-size: 20px;
    }

    .additional-questions {
      .quest-item {
        grid-template-columns: 270px 1fr;
      }
      .quest,
      .notes {
        font-size: 18px;
      }
    }
  }
}
@media (min-width: 710px) and (max-width: 720px) {
  .title-none{
    color: red;
  }
}
