.studio-menu {
  &.dropdown-menu {
    right: 0;
    left: unset;
    min-width: 300px;
    font-size: 20px;
    ul {
      background-color: #f1f1f1;
      list-style: none;
      li {
        padding: 5px 0;
        height: 55px;
        a {
          color: #333;
          text-decoration: none;
          padding-left: 5px;
        }
      }
    }
    .expanded {
      .fa-angle-right::before {
        content: '\f107';
      }
    }
  }
}