.forgot-password-form {
  width: 31%;
  height: auto !important;
  background-image: url('./images/Login-BG.svg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 1px 38px 0 rgba(135, 135, 135, .3);
  margin: 0 auto;
  padding-bottom: 20px;
  min-width: 600px;
  color: black;
  text-align: center;
  .form-container {
    display: flex;
    justify-content: center;
  }
  .input-form {
    width: 480px;
    input {
      border-top: none !important;
      border-left: none !important;
      border-right: none !important;
    }
    &:hover {
      .text-danger-tooltip {
        width: 390px;
      }
    }
  }
  .forgot-image {
    padding-top: 50px;
  }
  .forgot-text {
    .title span {
      text-transform: uppercase;
      font-family: FontBold;
      color: #aeaeae;
      font-size: 46px;
    }
    .instruction span {
      font-size: 15px;
    }
  }
  .send-btn {
    width: 480px;
    height: 70px;
    border: none;
    border-radius: 0;
    background-image: linear-gradient(241deg, #e95707, #f58220);
    font-size: 30px;
    color: white;
    font-style: italic;
    margin-top: 30px;
    span {
      font-family: FontBold;
    }
  }
  button[disabled] {
    opacity: .65;
    box-shadow: none;
  }
  .form-container {
    margin-top: 10px !important;
    .input-password-studio {
      width: 55% !important;
    }
  }
  .fp-icon {
    width: 55px;
  }
  .input-email-address {
    width: 470px;
    height: 60px;
    padding-left: 64px;
    border-radius: 0;
    background: #ffffff url('./images/Email.svg') no-repeat scroll 24px;
    background-size: 24px;
    border: solid 1px #ced3d6;
    font-size: 20px;
    font-stretch: condensed;
    line-height: 1.2;
    letter-spacing: .6px;
    text-align: left;
    &:focus {
      background: #ffffff url('./images/Email.svg') no-repeat scroll 24px;
      background-size: 24px;
      outline-color: #f48120;
      color: black;
    }
    &::-webkit-input-placeholder {
      font-size: 20px;
      color: #ced3d6;
      ;
    }
  }
  .input-forgot-password {
    width: 470px;
    height: 60px;
    padding-left: 64px;
    border-radius: 0;
    background: #ffffff url('./images/Password-Inactive.svg') no-repeat scroll 24px;
    background-size: 24px;
    border: solid 1px #ced3d6;
    font-size: 20px;
    font-stretch: condensed;
    line-height: 1.2;
    letter-spacing: .6px;
    text-align: left;
    color: black;
    &:focus {
      background: #ffffff url('./images/Password-Active.svg') no-repeat scroll 24px;
      background-size: 24px;
      outline-color: #f48120;
      color: black;
    }
    &::-webkit-input-placeholder {
      font-size: 20px;
      color: #ced3d6;
      ;
    }
  }
}

.dialog-password-reset {
  width: 600px;
  text-align: center;
  .notification {
    font-size: 23px;
    font-weight: bold;
    letter-spacing: .6px;
    text-align: center;
    color: #333333;
    margin: 8px 0 29px 0;
  }
  .back-login-btn {
    width: 210px;
    height: 60px;
    border: none;
    border-radius: 0;
    background-image: linear-gradient(241deg, #e95707, #f58220);
    margin-left: 12px;
    font-size: 23px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    line-height: normal;
  }
  .icon-email-confirm {
    width: 70px;
    margin-top: 20;
    margin-bottom: 10px;
  }
  .modal-content {
    border-radius: 0;
    background-image: url('./images/Login-BG.svg');
  }
}
