.date-checkin {
  background: #ffffff;
  border-bottom: 1px solid #bcbbc1;
  h1 {
    margin-top: 10px;
    color: #4a4a4a;
    font-family: FontRegular;;
    font-size: 30px;
    text-transform: uppercase;
    font-style: italic;
    line-height: 29px;
    text-align: center;
  }
}
