.separate-container {
  .left-container {
    width: 100%;
    padding: 0;
    background-image: linear-gradient(267deg, #2b2c2e, #2c2d2f);
    .wrapper {
      min-height: 83.5%;
    }
  }

  .right-container {
    overflow-y: auto;
    height: 100%;
    padding-top: 2.7%;
    float: right;
    .title {
      text-align: center;
    }
  }
}

@media (max-width: 1300px) {
  .separate-container {
    .left-container {
      overflow-y: auto;
      width: 33.33%;
    }
    .right-container {
      overflow-y: auto;
      height: 100%;
      width: 66.66%;
    }
  }
}

@media screen and (min-width: 1301px) and (max-width: 1550px) {
  .separate-container {
    .left-container {
      .wrapper {
        min-height: 81.6%;
      }
    }
    .right-container {
      padding-top: 3.7%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .separate-container {
    .left-container {
      .wrapper {
        min-height: 81.6%;
      }
    }
    .right-container {
      padding-top: 6.3%;
    }
  }
}

@media screen and (max-width: 800px) {
  .header {
    display: grid;
    // grid-template-columns: 8fr 0.5fr 5fr;
    .left {
      width: 360px;
    }
    .right {
      .header-clock {
        display: inline-table;
        font-size: 30px;
      }
    }
  }

  .separate-container {
    .left-container {
      .wrapper {
        min-height: 81.6%;
      }
    }
    .right-container {
      padding-top: 8.3%;
    }
  }
}
