.app-background {
  width: 100%;
  min-height: 100%;
  background-size: cover !important;
  background: url('modules/shared/images/background/Main_bg.svg') no-repeat center center;

  .app-container {
    min-height: 100%;
    position: relative;
    &.auth {
      padding-top: 92px;
    }
  }
}
