.container-checkin {
  display: grid;
  grid-template-columns: 380px 3fr;
  height: calc(100% - 30px);
  .left-checkin {
    position: relative;
    display: grid;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    width: 380px;
    transition: .4s;
    .wrapper {
      width: 100%;
      transition: .4s;
      .time-input {
        width: 100%;
        margin: 0 auto;
        .scrollbar {
          overflow-y: scroll;
          height: 848px;
        }
        #style-4::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 5em;
          background-color: #f5f5f5;
        }
        #style-4::-webkit-scrollbar {
          width: 4px;
          background-color: #f5f5f5;
        }
        #style-4::-webkit-scrollbar-thumb {
          background-color: #f48120;
          border-radius: 5em;
          border: 1px solid #d1d1d6;
        }
      }
      .tag-div {
        position: relative;
        .toggle {
          position: absolute;
          right: -14px;
          top: 70px;
          z-index: 80;
          .btn-icon {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: none;
            padding: 7px 9px 9px;
            box-shadow: rgba(9, 30, 66, 0.08) 0 0 0 1px, rgba(9, 30, 66, 0.08) 0 2px 4px 1px;
            &:hover {
              background-color: #ff5d00;
              color: white;
            }
          }
        }
      }
    }
  }
  .right-checkin {
    background: #ffffff;
  }
}
.hidden-left-checkin {
  grid-template-columns: 40px 4fr;
  .left-checkin {
    width: 40px;
    transition: .4s;
    .wrapper {
      width: 40px;
      transition: .4s;
      .time-input {
        display: none;
      }
      .calendar-checkin {
        display: none;
      }
    }
  }
}

@media (max-width: 1300px) {
  .input-screen {
    .bootstrap-datetimepicker-widget {
      width: 100% !important;
    }
    .right-container {
      .title {
        .select-time {
          font-size: 60px !important;
        }
      }
    }
  }
}
